<!-- src/app/pages/event/event-detail/event-detail.component.html -->

<div class="card-body" style="padding: 10px;">
  <h2 class="card-title text-center mb-0">Person Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Person Name:</strong>{{ person.name }}
  </li>

  <li class="list-group-item">
    <strong>Person Role:</strong>{{ person.role }}
  </li>
</ul>
<!--
<div class="card-body" *ngIf="image.description" style="padding: 10px;">
  <p class="card-text lead" [innerHTML]="image.description"></p>
</div>
-->
<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/admin/personel/update', person._id]">Edit</a>
</div>