<div class="card-body" style="padding: 10px;">
  <h2 class="card-title text-center mb-0">Image Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Image Caption:</strong>{{ image.caption }}
  </li>

  <li class="list-group-item">
    <strong>Image Path:</strong>{{ image.path }}
  </li>
</ul>

<div class="card-body" *ngIf="image.description" style="padding: 10px;">
  <p class="card-text lead" [innerHTML]="image.description"></p>
</div>

<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/admin/images/update', image._id]">Edit</a>
</div>