<div class="container-fluid myphoto-section bg-myphoto-welcome" id="welcome">
   <div class="container">
      <div class="jumbotron">

         <h3>Welcome</h3>
          <p>
              When it comes to supporting our clients' events we take our responsibilities as the expert event services partner very seriously. Event Planning NW is the ONLY event planning resource in the Portland Metro Area exclusively dedicated to servicing conferences & special events. We are obsessed with providing amazing service and will not be satisfied unless we've exceeded all expectations and created an unforgettable attendee experience! 
          </p>
          <p>
              We believe that being a jacks-of-all-trades staffing agency would be a disservice to our clients. We know it's better to be experts in a few key areas, than to be average in many. Too often people feel they have to settle for event support that falls short of excellence and that's just not something we're willing to accept. Our #1 goal is to provide first-class service, both on-site and during the planning process. Whether you're in need of registration pros, friendly greeters, energetic brand ambassadors, seasoned event managers or experienced servers, we're committed to providing the very best connections and facilities we have to offer. ​​So when you're planning your next event and aren't willing to settle for 'good enough', let Event Planning NW be your resource for reliable, professional, friendly, on-site support!
          </p> 

      </div>
   </div>
</div>

