<div class="container">
  <div class="row" style="margin-left: 0px; margin-right: 0px;">
    <app-loading *ngIf="loading"></app-loading>

    <ng-template [ngIf]="utils.isLoaded(loading)">
      <h1 class="text-center">{{ pageTitle }}</h1>
      <!-- Person -->
      <ng-template [ngIf]="person">
        <div class="card">
          <!-- Person tab navigation -->
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="[]" [queryParams]="{ tab: 'details' }" [ngClass]="{ 'active': utils.tabIs(tab, 'details') }">Details</a>
              </li>
            </ul>
          </div>

          <!-- Person detail tab -->
          <app-person-detail *ngIf="utils.tabIs(tab, 'details')" [person]="person"></app-person-detail>

        </div>
      </ng-template>

      <!-- Error loading events -->
      <p *ngIf="error" class="alert alert-danger">
        <strong>Oops!</strong> There was an error retrieving information for this person.
      </p>
    </ng-template>

  </div>
</div>